html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')

        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js', integrity='sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN', crossorigin='anonymous')
        script(src='https://kit.fontawesome.com/5aea80cc0d.js', crossorigin='anonymous')
        script(src='/static/scripts/script.js')
        script(src='/static/scripts/search.js')
        script(src='/static/scripts/update_status.js')
        script(src='/static/scripts/add_plant.js')
        script(src='/static/scripts/filter.js')
        script(src='/static/scripts/notes.js')
        script(src='/static/scripts/watering.js')

        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand')
        link(rel='stylesheet' type="text/css" href='/static/css/style.css')
        link(rel='stylesheet' type="text/css" href='/static/css/plant.css')
        include includes/navbar

    body(onload=`check_water()`)

    .m-4
        block content