include default

    link(rel='stylesheet' type="text/css" href='/static/css/graveyard.css')

    h1.nursery The Graveyard
    hr

    //h4 All empty... (◠‿◠✿)

    //#empty

    .row.row-cols-1.row-cols-md-3.g-4
        each plant of plants
            if plant[4] === 'dead'
                .col
                    .card
                        img.card-img-top(src='/static/images/' + plant[1] + '.jpg', alt=plant[1])
                        .card-body
                            h5.card-title= plant[1]
                            //hr
                            //.card-text
                            //    .lead Last Water&nbsp
                            //        i.fa-solid.fa-droplet
                            //    p= plant[2]
                            //hr
                            .d-flex.flex-column
                                //button.btn.btn-outline-secondary.my-1(onclick=`get_info(${plant[1]})`) More Info &nbsp
                                //    i.fa-solid.fa-magnifying-glass
                                button.btn.btn-outline-secondary.my-1#toDelete(data-uuid= `${plant[0]}` onclick= `removePlant()`) Delete Plant &nbsp;
                                    i.fa-solid.fa-circle-xmark
