include default

    //link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand')
    link(rel='stylesheet' type="text/css" href='/static/css/nursery.css')

    h1.nursery The Nursery

    hr

    .row.row-cols-1.row-cols-md-3.g-4
        each plant of plants
            if plant[4] === 'baby'
                .col
                    .card
                        img.card-img-top(src='/static/images/' + plant[2] + '.jpg', alt=plant[2])
                        hr
                        .card-body
                            h5.card-title= plant[2]
                            .card-text
                                lead= plant[5]
                                    i.fa-solid.fa-cake-candles.mx-1
                                .lead Last Water&nbsp
                                    i.fa-solid.fa-droplet
                                p= plant[3]

                            include includes/options
