body{
    background-color: #c69dde;
}
h4{
    position: fixed;
    left: 50%;
    transform: translate(-50%);

}

#empty{
    position: fixed;
    /*top: 50%;*/
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%);
    bottom: 5px;
}